*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    line-height: var(--leading-none);
    background-color: var(--color-blue-900);
    font-family: var(--font-primary);
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button {
    font: inherit;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
