:root {
    --color-white: hsl(0, 0%, 100%);
    --color-blue-100: hsl(243, 100%, 93%);
    --color-blue-300: hsl(229, 7%, 55%);
    --color-blue-500: hsl(228, 55%, 62%);
    --color-blue-800: hsl(228, 56%, 26%);
    --color-blue-900: hsl(229, 57%, 11%);

    --gradient-tomato-red: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));

    --shadow-sm: 0px 24px 48px -8px rgba(12, 18, 44, 50%);

    --font-primary: "Raleway", sans-serif;
    --font-normal: 400;
    --font-bold: 700;

    --text-xs: 0.8125rem;
    --text-sm: 0.875rem;
    --text-md: 1rem;

    --leading-none: 1;

    --rounded-md: 0.625rem;
    --rounded-full: 9999px;
}

@custom-media --tablet (min-width: 48em);
